.Rproj.user
.Rhistory
.RData
.Ruserdata
ignore
data_cleaning/raw_data
data_cleaning/test
data_cleaning/finished_districts.xlsx
data_cleaning/finished_districts_.xlsx
data_cleaning/*.kml
output
input/parent_cleaned_anonymised.csv
input/child.csv
input/idp_in_camp.csv
input/loop_in_camp.csv
input/loop_in_camp_v2.csv
input/loop_merged.csv
input/parent_merged.csv
input/geodata
index*